/* 전체 화면 */
.container {
    text-align: center;
    background-color: white;
    height: 100vh;
}

/* 약관을 동의해주세요*/
.agreement_title{
    font-weight: 800;
    font-size: 25px;
    padding-top: 102px;
    padding-left: 28px;
    text-align: left;
}

/* 동의 체크 BOX*/
.agree_box{
    padding-top: 49px;
}

.agreement_wrap{
    display: flex;
    margin-top: 23px;
    padding: 10px 28px;
}

/* 체크 버튼 */
.agree_btn{
    background-color: #D9D9D9;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
}

/* 클릭된 체크 버튼*/
.agree_btn.clicked {
    background-color: #91EB86;
    cursor: pointer;
}

/* 버튼 체크 아이콘*/
.agree_check{
    display: none;
}

.agree_check.clicked{
    display: flex;
    margin: 6px 5px;
}


/* 약관 동의 텍스트 */
.agree_text{
    margin: auto 13px;
    font-size: 16px;
    color: #676767;
    font-weight: 600;
}

.agree_text.clicked{
    margin: auto 13px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

/* 구분선 */
.agree_line{
    background-color: #D9D9D9;
    width: 343px;
    height: 1px;
    margin: 20px auto;
}

.agree_arrow{
    margin-left: auto;
    padding-right: 10px;
}

/* 회원가입 버튼 */
#signUp_btn{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 343px;
    height: 50px;
    border-radius: 10px;
    background: #333;
    cursor: pointer;
}

/* 회원가입 버튼 text */
#signUp_btn_text{
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    padding: 11px;
}